body {
    background-image: url("../img/ptrn/skulls/skulls.png");
}

.parent {
    width: 24.5%;
    margin: 2px;
    height: 200px;
    border: 3px solid #212529;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 2s;
}

.images-text a {
    display: none;
    font-size: 30px;
    color: #ffffff !important;
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.4);
}

.parent:hover a, .parent:focus a {
    display: block;
}

/*.thumbnail {*/
    /*height: 600px;*/
/*}*/



.helper {
display: inline-block;
height: 90%;
vertical-align: middle;
}

/*SEARCH*/

.search_result{
    background: #ffffff;
    border: 1px #ccc solid;
    width: 200px;
    border-radius: 4px;
    max-height:100px;
    overflow-y:scroll;
    display:none;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}



